p{
    font-family:"Courier New","monospace";
}
section p{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}
img{
    border-radius:50%;
}
.content{
    text-align: center;
}
.footer{
    text-align: center;
    color: aliceblue;
    font-style: italic;
    background-color: #333;
}